/Tecnicatura/Java/Clase 4/EjercicioCiclos07/nbproject/private/
/Tecnicatura/Java/Clase 4/EjercicioCiclos07/build/
/Tecnicatura/Java/Clase 5/Aritmetica/nbproject/private/
/Tecnicatura/Java/Clase 1/CicloWhile/target/
